@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Bungee+Inline|Yellowtail|Shrikhand|Poppins|Roboto+Condensed');


body {
	-webkit-font-family: 'Roboto Condensed', sans-serif !important;
	-moz-font-family: 'Roboto Condensed', sans-serif !important;
	font-family: 'Roboto Condensed', sans-serif !important;
	color: #ffff !important;
	background-size: 100% auto !important;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-blend-mode: multiply;
}

.container-fluid {
	max-width: 100%;
}

/*.container-fluid  {*/
	/*max-width: 100% !important;
	overflow: hidden !important;
	background-color: rgba(0,25,200,0.6);
	-webkit-background-image: url('../images/bg_sercyn_2-min.JPG');
	-moz-background-image: url('../images/bg_sercyn_2-min.JPG');
	background-image: url('../images/bg_sercyn_2-min.JPG');
	-webkit-background-blend-mode: multiply;
	-moz-background-blend-mode: multiply;
	-moz-background-blend-mode: multiply;
	-webkit-background-repeat: no-repeat !important;
	-webkit-background-repeat: no-repeat !important;
	-moz-background-repeat: no-repeat !important;
	background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	background-size: cover !important;
	-webkit-background-position: center center;
	-moz-background-position: center center;
	background-position: center center;
	-webkit-background-attachment: fixed !important;
	-moz-background-attachment: fixed !important;
	background-attachment: fixed !important;*/
/*	-webkit-font-family: 'Roboto Condensed', sans-serif !important;
	-moz-font-family: 'Roboto Condensed', sans-serif !important;
	font-family: 'Roboto Condensed', sans-serif !important;
	color: white !important;*/
	/*background-blend-mode: multiply;*/
	/*-webkit-max-width: 100% !important;
	-moz-max-width: 100% !important;
	max-width: 100% !important;
	-webkit-max-height: auto;
	-moz-max-height: auto;
	max-height: auto;
	-webkit-min-height: 600px;
	-mozmin-height: 600px;
	min-height: 600px;*/
/*}*/

#nav-service a {
	text-decoration: none !important;
	color:white !important;
	background: rgba(0,0,0,0.6);
}

.carousel-item {
	max-width:100% !important;
	max-height:600px !important;
}
.carousel-item img {
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}
#titulo {
	font-family: Yellowtail !important;
}
#titulo .n {
	padding-top: 12px !important;
}
.row {
	margin-top: 35px !important;
}
.after-title {
	margin-top: 0 !important;
}
#logo  {
background: -webkit-linear-gradient(#69A6FA, #1E1E1E 20%) !important;
/*background: -o-linear-gradient(#69A6FA, #1E1E1E 20%) !important;
background: linear-gradient(#69A6FA, #1E1E1E 20%) !important;
*/	/*#156CE3*/
	/*#28282D, #535B60*/
}
.logo-image {
	padding-top:15px !important;
}
.footer-contact {
	margin-top: 55px;
}
#menu-container {
	background-color: #186980 !important;
}
#menu-container li a:hover {
	color: red !important;
}
#submenu {
	background-color: #186980 !important;
	border: 0 !important;
}
.content-page {
	background: black !important;
}
.head-content {
	text-decoration: none !important;
}
.rio1 {
	max-width: 50% !important;
	max-height: 50% !important;
}
.rio2 {
	max-width: 65% !important;
	max-height: 60% !important;
}
.facevideo {
	max-width:100% !important;
	max-height:100% !important;
}
.facecomment {
	max-width:100% !important;
	max-height:100% !important;
}
#diving a {
	color:blue;
	text-decoration-color:red;
	background: linear-gradient(to bottom left, red, white, red);
}
.display-4 {
	padding-top:20px !important;
}
.reef {
	margin-top: 35px !important;
}
.footer {
	background-color: rgba(0,0,0,0.6)
}
/*.foot-text {
	padding:0,30px !important;
}*/
.logo-footer {
	padding: 30px !important;

}
.mark_text {
	margin-top:12px !important;
}
.button-service a {
	text-decoration: none !important;
	color:white !important;
}
.comentarios {
	background-color: black !important;
	margin: 2px !important;
}
#card-reserve {
	background: rgba(0,0,0,0.3) !important;
}
#img-reserve {
	max-height: 15rem !important;
}
.clima {
	max-width: 100%;
}
#reef_image_1 {
	-moz-transform: rotate(-15deg)!important;
	-o-transform: rotate(-15deg)!important;
	-webkit-transform: rotate(-15deg)!important;
	transform: rotate(-15deg)!important;
}
#reef_image_3 {
	-moz-transform: rotate(15deg)!important;
	-o-transform: rotate(15deg)!important;
	-webkit-transform: rotate(15deg)!important;
	transform: rotate(15deg)!important;	
}

#costo {
	background: rgba(255,255,255,0.7);
	color:#dc143c!important;
	border-radius: 8px;
	margin-left:45px;
}
#f_book {
	background: rgba(255,255,255,0.6)!important;
}
/*pantallas chicas*/
