extends layout

block acceso
  .row.justify-content-center
    .col-sm-12.col-md-12.col-lg-12.wow.slideInUp 
      h1.text-center
        span.fa.fa-lock
        |  Inicia sesión o Registrate 
    .col-sm-12.col-md-3.col-lg-3.mx-auto.wow.slideInUp 
      a.btn.btn-light.btn-lg.active(href='/signup', role='button', aria-pressed='true')
        span.fa.fa-user
         |  Registrate
      a.ml-3.btn.btn-light.btn-lg.active(href='/login', role='button', aria-pressed='true')
        span.fa.fa-user
         |  Inicia Sesión
