extends layout

block content3
  // contenido
  
  .row.justify-content-around
    .col-sm-12.col-md-12.col-lg-12.mt-4.wow.fadeInDown
      h1.display-5.text-center Arrecífes
    .col-sm-3.col-md-4.col-lg-3.mt-3
      img.img-thumbnail.rounded-top.float-left.wow.slideInLeft(src='/images/arrecife-portada-min.JPG', alt='')#reef_image_1
    .col-sm-3.col-md-4.col-lg-3
      img.img-thumbnail.rounded.float-none.wow.zoomIn(src='/images/slider/slide-SerCyn-2-min.JPG', alt='')#reef_image_2
    .col-sm-3.col-md-4.col-lg-3
      img.img-thumbnail.rounded-top.float-right.wow.slideInRight(src='/images/arrecife4-min.jpg', alt='')#reef_image_3
    .col-md-10-col-lg-10.col-xl-9
      p.h4.text-justify.reef.wow.slideInUp Estas áreas, además de contribuir naturalmente de muchas maneras, en el rango turístico, nos permite conocer de manera cercana la biodiversidad que constituye, pudiendo hacer excursiones de 
        strong Snorkel y Bucéo.
        |  Al igual del mismo modo permite avanzar científicamente, estudiando las especies marinas, la flora y todo el hábitat que encontramos en ellos.
        br
        br
        | El polígono Tuxpan Incluye Tres formaciones arrecifales, conocidas como 
        strong Tuxpan, Enmedio y Tanhuijo
        |  con una superficie de 17,984 hectáreas. 
        br
        br
        |    Tienen un gran valor estético incomparable y constituyen una reserva genética importante. El área desempeña un papel vital para la actividad turística y otorga servicios ambientales, brinda protección a las áreas costeras durante tormentas y huracanes, pueden contener la erosión por el amortiguamiento de olas, constituyen una fuente de sustancias orgánicas fundamentales para la crianza natural de gran variedad de peces y representar un sumidero importante de carbono 
        br
        br
        small
        a(href='http://regiongolfodemexico.conanp.gob.mx/sistemarrecifal.php#.WY5WNVEjHIU') CONANP
        br
        br
        br
    .col-sm-12.col-md-4.col-lg-4.mt-3
      a.nav-link.btn.btn-primary.wow.slideInUp(href='/comment') Reservaciones
    .col-sm-12.col-md-4.col-lg-4.mt-3
      a.nav-link.btn.btn-primary.wow.slideInLeft(href='/lobos') Isla Lobos
    .col-sm-12.col-md-4.col-lg-4.mt-3
      a.nav-link.btn.btn-primary.wow.slideInRight(href='/rio') Río Tuxpan
  // contenido
