extends layout

block content_comment
  .row.justify-content-center
    .col-sm-10.col-md-10.col-lg-9
      #cont_0a9e71ce7839cdacc0acf13367b7c624.clima
        script(type='text/javascript', async='', src='https://www.meteored.mx/wid_loader/0a9e71ce7839cdacc0acf13367b7c624')
    .col-sm-12.col-md-8.col-lg-8.mt-4.wow.slideInRight
      form(action='/mailing', method='POST')#form-contact.form-contact
        .form-group
          //- | {{$data}}
          label(for='exampleInputEmail1') Reserva tu Servicio o deja tus comentarios
        .form-group
          label(for='exampleTextarea name') Nombres(s)
          input.form-control.name(type='text', name='name', id='exampleTextarea name',aria-describedby='emailHelp',placeholder='Nombre(s)',v-model='sercyn.name')
        .form-group
          label(for='exampleTextarea apellido') Apellidos
          input.form-control.name(type='text', name='apellido', id='exampleTextarea apellido',aria-describedby='emailHelp',placeholder='Apellidos',v-model='sercyn.apellido')
        .form-group
          label(for='exampleInputEmail1mail') Tu Correo
          input.form-control.mail(type='email', name='mail', id='exampleInputEmail1 mail',aria-describedby='emailHelp',placeholder='Email', v-model='sercyn.email')
          label(for='exampleInputNumber') Ingresa tu Numero Telefonico
        .form-group
          input.form-control-number.number(type='number', name='number', id='exampleInputNumber', aria-describedby='numberHelp', placeholder='Numero Teléfono', v-model='sercyn.phone')
        .form-group
          label(for='services') Escoge tu destino
          select.form-control.services#services(name='services', v-model='sercyn.place')
            option Destino
            option(value="rio")#rio Río Tuxpan
            option(value= "arrecife")#arrecife Arrecifes
            option(value= "isla")#isla Isla de lobo
        div(v-show="sercyn.place != null")
          .form-group
            label(for='person') Número de personas (niños mayores de 3 años, pagan el servicio)
              select.form-control.person#person(name='person', v-model='sercyn.persons')
                option#1 0
                option#1 1
                option#2 2
                option#3 3
                option#4 4
                option#5 5
                option#6 6
                option#7 7
                option#8 8
                option#9 9
                option#10 10
                option#10 11
                option#10 12
                option#10 13
                option#10 14            
            br
            br
            h1#costo.help-block.text-center.wow.infinite.pulse(v-show="sercyn.place != ''") Hola {{ sercyn.name }}
            h1#costo.help-block.text-center.wow.infinite.pulse(v-show="sercyn.place != ''") {{ costoDelViaje }}
            br
          .form-group
            label(for='date') Fecha a Reservar      
            input(type='date', step='1', name='date', placeholder='dd/mm/aa')
          .form-group
            label(for='exampleTextarea', id='message') Escribe tu comentario!
            textarea.form-control(id='exampleTextarea', name='message', rows='3')
            .g-recaptcha(data-sitekey='6LdstnkUAAAAAHM4zWbZAXYfJ7V3fYD1tI4Ax5_j',data-theme='dark',v-model='sercyn.captcha')
            .div(v-show= "sercyn.captcha != null")
            br
            button.btn.btn-secondary.button-contact(type='submit') Enviar
            br 
    //- h2 Por Favor, llena el formulario.
    //- .col-sm-12.col-md-8.col-lg-10
    //-   .fb-login-button(data-max-rows='1', data-size='large', data -button-type='continue_with', data-show-faces='false', data-auto-logout-link='true', data-use-continue-as='true')
    //- .col-sm-12.col-md-8.col-lg-10
    //-   .wow.slideInUp.fb-comments.facecomment(data-href='http://www.sercyn.com/comment', data-numposts='10', data-width='100%',  data-mobile='true')
    //- .col-sm-12.col-md-8.col-lg-10
    //-   .fb-like(data-href='http://www.sercyn.com/comment',  data-layout='button-count', data-action='like', data-size='large', data-show-faces='true', data-share='true')
  


