extends layout

block login
  .container-fluid
    .row.mt-6.wow.slideInUp
      .col-sm-12.mx-auto
        h1.text-center
          span.fa.fa-sign-in
            |  Inicia Sesión
        #message
         if message.length > 0
           .alert.alert-danger #{ message }
        form(action='/login', method='POST')
          .form-group
            label(for='email') Email
            input.form-control(type='email', name='email', placeholder='Ingresa tu Email')
          .form-group
            label(for='password') Contraseña
            input.form-control(type='password', name='password', placeholder='Ingresa tu Contraseña')
          .form-group.text-center
            input.btn.btn-primary(type='submit')
          hr
          .text-center
            p ¿Necesitas una cuenta? 
            a(href='/signup') Registrate
            br
            a(href='/acceso') Ve a inicio
